[Desktop Entry]
Name=Time and Date Syncronization
Comment=Program to sync the time with different (presetted) servers and also a custom server function.
Exec=/opt/timesync/timesync.py
Icon=/opt/timesync/icon.png
Terminal=false
Type=Application
Categories=Utility;

