Package: timesync
Version: 2.0.4
Depends: python3 (>= 3.10.0), python3-tk (>= 3.10.0), python3-platformdirs, pkexec, wget, sed, fonts-liberation2
Maintainer: Palace4Software
Architecture: all
Homepage: https://github.com/Palace4Software/timesync
Section: net
Description: Program to sync the time with different (preset) servers and also a custom server function.
